# • Descrioption:
    Lets say we have our e-commerce site like amazon, e-bay, flipkart etc. These sites are selling millions of products on     their websites. So they are creating millions of data. They are creating datas like customer_id, product_id,               product_name,price of product, purchase address etc

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# we import os library which will help us to create, delete, modify and edit our directory
import os

In [2]:
# we have multiple data set so we will combine all the file.
# lets fetch all the file from the location of our system....... use os library

lisdir = os.listdir('D:\Full Stack Data Science\Data Analytics Project\E-commerce Case Study(Sales data analysis)\data\Sales_Data')
lisdir

['Sales_April_2019.csv',
 'Sales_August_2019.csv',
 'Sales_December_2019.csv',
 'Sales_February_2019.csv',
 'Sales_January_2019.csv',
 'Sales_July_2019.csv',
 'Sales_June_2019.csv',
 'Sales_March_2019.csv',
 'Sales_May_2019.csv',
 'Sales_November_2019.csv',
 'Sales_October_2019.csv',
 'Sales_September_2019.csv']

In [3]:
# Now iterate over the list created from os

files = [file for file in lisdir]

for file in files:
    print(file)

Sales_April_2019.csv
Sales_August_2019.csv
Sales_December_2019.csv
Sales_February_2019.csv
Sales_January_2019.csv
Sales_July_2019.csv
Sales_June_2019.csv
Sales_March_2019.csv
Sales_May_2019.csv
Sales_November_2019.csv
Sales_October_2019.csv
Sales_September_2019.csv

In [4]:
#path:
path = 'D:\Full Stack Data Science\Data Analytics Project\E-commerce Case Study(Sales data analysis)\data\Sales_Data'

# Now combine all the file to read them all

all_data = pd.DataFrame()   #.........Blank dataframe

for file in files:
    current_df = pd.read_csv(path + '/' + file)
    all_data = pd.concat([all_data, current_df])
    
all_data.shape    #........186850 rows and 6 columns

(186850, 6)

In [5]:
# Now convert 'all_data' into csv file format

all_data.to_csv('D:\Full Stack Data Science\Data Analytics Project\E-commerce Case Study(Sales data analysis)\data/all_data.csv', index = False)

# • Now lets check whether we got null values in the data set that we have created

In [6]:
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [7]:
all_data.isnull().sum()

# as you can see we have 545 missing values in our data

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [8]:
# Drop all those missing values.

all_data = all_data.dropna()

# check whether all null values are deleted or not

all_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [9]:
# check shape of the dataframe
all_data.shape

(186305, 6)

In [10]:
# Save the clean data

all_data.to_csv('D:\Full Stack Data Science\Data Analytics Project\E-commerce Case Study(Sales data analysis)\data/all_cleaned_data.csv', index = False)